## Rewrite rules
<IfModule mod_rewrite.c>
    Options -Indexes
    RewriteEngine On
    # Update RewriteBase if the app is in a subdirectory.
    RewriteBase /
    
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME}.html -f
    RewriteRule ^(.*)$ $1.html
    
    ErrorDocument 404 /404.html
    ErrorDocument 403 /404.html
</IfModule>
